h1{
    background-color: rgb(183, 216, 122);
    font-family: 'Anton', sans-serif;
    font-family: 'Dancing Script', cursive;
    text-align: center;
}
body{
    background-image: url(pexels-jess-bailey-designs-743986.jpg);
    background-position: center;
    background-size: cover;
    background-color: rgb(127, 150, 255);
}
.wst{
    font-size: 250%;
    text-align: center;
    font-family: 'Anton', sans-serif;
    font-family: 'Dancing Script', cursive;
}
.btn{
    width: 300px;
    margin-top: 30px;
}